h1 {
  padding-right: 20px;
  padding-left: 40%;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: 'Arial Black';
}

h2 {
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 43.5%;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

p {
  padding-right: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

body {
  background-image: url("Assets/Images/bgwp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS';
  margin: 50px;
}
nav 
{
  font-family: 'Verdana';
  font-size: 18px;
  word-spacing: 10px;
  font-weight: bold;
  background-color: #060f2a;
  padding: 20px;
}
nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
img {
  display: block;
  height: 300px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #060f2a;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
#game-frame {
  display: none;
}